.default-row {
    background-color: white;
  }
  
  .clicked-row {
    background-color: white;
  }
  
  .default-row {
    transition: background-color 0.3s ease-in-out;
  }
  .default-row:hover {
    background-color: #fafafa;
  }
  