.default-row {
  background-color: white;
  color: black; /* Default text color for light mode */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.dark-mode-row {
  background-color: #1e1e1e; /* Dark background for dark mode */
  color: white; /* Text color for dark mode */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

